/*Version: pre-1.0*/
/*Autor: Martin Jagoš*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400&display=swap');
body{
    background-color: #f5f5f5;
}
h1{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 64px;

}
p{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
    margin: 0;
    text-align: center;
    font-size: 48px ;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    white-space: nowrap;
}

.row{
    margin-top: 5%;
    text-align: center;
    color: #5b5b5b;
    text-decoration: none;
}
a{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 300%;
}
a:link, a:visited{
    color: #5b5b5b;
}
a:hover{
    color: black;
}


  
@media screen and (max-width: 992px) {
  h1 {
    font-size: 48px ;
  }
  p{
    font-size: 32px ;
  }
  .links{
    font-size: 75%;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 32px ;
  }
  p{
    font-size: 24px ;
  }
  .links{
    font-size: 75%;
  }

}
@media screen and (max-width: 450px) {
    h1 {
      font-size: 24px ;
    }
    p{
      font-size: 20px ;
    }
    .links{
        font-size: 50%;
      }
  
  }